<div class="todo-container">
  <h1>Ag-Grid with HTTP Example</h1>
    <button (click)="clearSelection()">Clear selection</button>
    
    <ag-grid-angular
      style="width: 850px; height: 500px"
      class="ag-theme-quartz"
      [rowData]="rowData"
      [columnDefs]="columnDefinitions"
      (gridReady)="getTododListFromService($event)"
      [defaultColDef]="defaultColDef"
      [rowSelection]="'multiple'"
      [animateRows]="true"
      (cellClicked)="onCellClickEvent($event)"
    ></ag-grid-angular>
  </div>
